
.chip {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  /* color: #fff; */
  
  padding: 0.2rem 1rem;
  font-size: 0.75rem;
  font-family: monospace;
  --p: 0.7em; /* control the shape */
  clip-path: polygon(var(--p) 0,100% 0,calc(100% - var(--p)) 100%,0 100%);
  &:before {
    content: "<";
    margin-inline-end: 0.05rem;
  }
  &:after {
    content: "/>";
    margin-inline-start: 0.15rem;
  }

  .dot {
    opacity: 0.4;
  }

  /* .key {
    color: hsl(36, 92%, 65%);
  }

  .value {
    color: #98ff92;
  } */

  &.vertical {
    writing-mode: sideways-rl;
    padding: 1rem 0.2rem;
    clip-path: polygon(0 0,100% var(--p),100% 100%,0 calc(100% - var(--p)));
  }
  &.sm {
    font-size: 0.6rem;
    --p: 0.5em;
  }

  /* Monochrome Purple Theme */
  & {
    background: var(--stp-accent);
    color: #ffffff77;
    .key, .type, .value {
      color: #fff;
    }
    .key {
      opacity: 0.7;
    }
    .value {
      opacity: 0.9;
    }
  }
}